.logo {
    height: 100px;
    transition: transform 0.2s;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    background-color: rgba(103, 103, 103, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo:hover {
    transform: scale(1.05);
}

/* ------------------------------------------------------------------------
                        Tabs Toggle Ul CSS Starts Here!
------------------------------------------------------------------------ */

.toggle-ul li {
    display: flex;
}

.toggle-ul li button {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}

.toggle-ul li button:nth-child(1) {
    border-radius: 5px 0 0 5px;
}

.toggle-ul li button:nth-child(2) {
    border-radius: 0px 5px 5px 0px;
}

/* ------------------------------------------------------------------------
                        Tabs Toggle Ul CSS Ends Here!
------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------
                        DarkMode Toggle CSS Starts
------------------------------------------------------------------------ */


.dark-toggle {
    position: absolute;
    top: 4.7%;
    right: 4.5%;
}

.dark-toggle svg {
    font-size: 1.5rem;
    cursor: pointer;
}

.dark svg {
    color: white;
}

.light svg {
    color: black;
}

.dark-toggle svg:active {
    scale: 1.1;
}

@media (max-width: 767px) {
    .dark-toggle {
        top: 5.2%;
        right: 25%;
    }
}

/* ------------------------------------------------------------------------
                        DarkMode Toggle CSS Ends Here!
------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------
                        Profile Icon CSS Starts Here!
------------------------------------------------------------------------ */

#dropdownInformation {
    position: absolute;
    right: 2%;
    top: 10%;
}