.logo {
    height: 100px;
    transition: transform 0.2s;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    background-color: rgba(103, 103, 103, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header a {
    text-decoration: none;
    font-size: 1.2rem;
    padding-right: 50px;
    color: #424242;
    transition: color 0.2s, transform 0.2s;
}

.header a:hover {
    color: #888;
    transform: translateY(-2px);
}

.header-line {
    background-color: rgba(0, 0, 0, 0.21);
    height: 1px;
    border: none;
    margin: 0;
}

.logo:hover {
    transform: scale(1.05);
}

/* Tabs Toggle Ul CSS  */

.toggle-ul li {
    display: flex;
}

.button-toggle {
    background-color: #3741530e;
}

.toggle-ul li button:nth-child(1) {
    border-radius: 8px 0 0 8px;
}

.toggle-ul li button:nth-child(2) {
    border-radius: 0px 8px 8px 0px;
}

/* Tabs Toggle Ul CSS Ends Here*/